@import url('https://fonts.googleapis.com/css?family=Roboto');


.loading-top-ten{
  font-family: Roboto, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  color: #FFF;
  
  
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;


  width: 100vw;
  background-color: #1b0b0d;
  background-image: radial-gradient(circle closest-side, rgba(114, 84, 85, 0.3), transparent);
  box-shadow: inset 0 0 50px #151112;
}



@media (min-width: 768px) {
  .loading-top-ten .large-text{
    display:block;
  }

  .loading-top-ten .small-text{
    display:none;
  }
}

@media (max-width: 767px) {
  .loading-top-ten .large-text{
    display:none;
  }

  .loading-top-ten .small-text{
    display:block;
  }
}




@media (min-width: 1200px) {
  .loading-top-ten{
    height: 248px;
    line-height: 248px;
  }
}


@media (min-width: 768px) and (max-width: 1199px) {
  .loading-top-ten{
    height: 391px;
    line-height: 391px;
  }
}


@media (max-width: 767px) {
  .loading-top-ten{
    height: 552px;
    line-height: 552px;
  }
}

@media (max-width: 600px) {
  .loading-top-ten{
    height: 404px;
    line-height: 404px;
  }
}

/* OVERRIDES FOR BASE.CSS */

.leaderboard-table, .player-details-row{
  width: 100vw;
}

.close-details{
  display: none;
}

.leaderboards-page {
  color: white;
  max-width: 100%;
  font-family: Roboto, Arial, sans-serif;
}

.leaderboards-page .leaderboard-table .close-details {
  display: none;
}

.leaderboards-page .leaderboard-table .player-sharers {
  display: none;
}

